/* UTILIS */

  body{
    font-weight: bold;
    color: white;
  }

  a{
    text-decoration: none;
    color: white;
  }

  .debug{
    background-color: rgba(192, 27, 27,.2);
    border: 1px solid black;
    min-height: 100px;
  }

  .h50{
    height: 50px;
  }

  .h200{
    min-height: 200px;
  }

  .h500{
    min-height: 500px;
  }
/* /UTILIS */



/* HEADER */
header{
  background-color: #2C3E50;
  height: 80px;
}
header .container{
  height: 100%;
}
/* /HEADER */



/* JUMBOTRON */
  .jumbotron{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
  }
/* /JUMBOTRON */



/* MAIN */

  /* IMAGES SECTION */
    #mb-images{
      margin: 30px 0;
    }

    #mb-images .container .row > .col{
      margin: 10px 0;
    }
  /* /IMAGES SECTION */

  /* DESCRIPTION SECTION */
    #mb-description{
      background-color: #1ABC9C;
    }
  /* /DESCRIPTION SECTION */

  /* CONTACT ME */
    #mb-contact-me{
      margin: 20px 0;
    }

    #mb-contact-me .container .row div:first-child{
      color: #333333;
    }

    #mb-contact-me .container .row div:last-child{
      color: #2D3F50;
    }
  /* /CONTACT ME */

/* /MAIN */



/* FOOTER */

  footer{
    background-color: #3A546D;
  }

  #mb-about{
    padding: 20px 0;
  }

  .copyright{
    height: 50px;
    background-color: rgba(192, 27, 27,.2);
      border: 1px solid black;
  }

  .mb-start{
    color: #1FAC94;
  }
/* /FOOTER */