._star::before,
._star::after{
  content: '';
  display: inline-block;
  margin: 0 20px;
  width: 15%;
  height: 4px;
  background-color: white;
}

._star._star-dark::before,
._star._star-dark::after{
  background-color: black;
}

.fa-solid.fa-star{
  font-size: 25px;
  vertical-align: middle;
}


/* DEBUG */
._debug{
  background-color: rgba(192, 27, 27,.2);
  border: 1px solid black;
  min-height: 100px;
}

._color{
  background-color: brown;
}

._h50{
  height: 50px;
}

._h200{
  min-height: 200px;
}
/* /DEBUG */